<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091449762953-mvp9sc17k040jtep806srjo40r32kott.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091449762953-mvp9sc17k040jtep806srjo40r32kott</string>
	<key>API_KEY</key>
	<string>AIzaSyAgIH6U42S_vigXHY020pmuXeLZ-93sR6k</string>
	<key>GCM_SENDER_ID</key>
	<string>1091449762953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.davihoffmann.appslidycreate</string>
	<key>PROJECT_ID</key>
	<string>slidy-test</string>
	<key>STORAGE_BUCKET</key>
	<string>slidy-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091449762953:ios:d55f338ccd9273bf7ac258</string>
	<key>DATABASE_URL</key>
	<string>https://slidy-test.firebaseio.com</string>
</dict>
</plist>